*{
    margin:0;
    padding:0;
}
.conatiner{
    max-width: 1170px;
    margin: auto;
}
.fileira {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.footer{
    background-color: #2e2e2e ;
    padding: 30px 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffffff;
    font-weight: 500;
}
.footer-col hr {
    background-color: #f44336;
    border: none;
    height: 0.1%;
    margin: 6px 0 15px 0;
    width: 50%;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: 0.3s;
}
.footer-col ul li a:hover{
    color: #ffffffff;
    padding-left: 8px;
}
.footer-col .social-links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 60%;
}
.footer-col .social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 700px){
    .footer-col {
        width: 35%;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
}