* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  .header {
    height: 480px;
    width: 100%;
    background-image: url(../assets/imgs/BlackGym.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img {
    width: 80px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  .text-box {
    width: 40%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .text-box h1 {
    font-size: 40px;
  }
  .text-box p {
    margin: 10px 0 35px;
    font-size: 14px;
    color: #fff;
    padding: 0;
  }
  
  /* --importância de exercícios físicos-- */
  
  .importanciaexercicios {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .boxtext {
    padding: 0 170px 0 170px;
    text-align: initial;
  }
  .boxtext p{
      color: #777;
      font-size: 14px;
      line-height: 22px;
      padding: 10px 10px 10px 0;
  }
  .boxtext hr{
      width: 100%;
      height: 1px;
      background-color: #8d8d8dc2;
      border: none;
      margin: 20px 0 20px 0;
  }
  .IMC-tabela {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 5px 0 10px 0;
  }
  .box {   
      width: 16.3%;
      text-align: center;
      margin-top: 3px;
      background-color: #e2e1e1;
  }
  .box1 {
    width: 16.3%;
    text-align: center;
    margin-top: 3px;
    background-color: #2e2e2e;
 }
  .box p, .box1 p{
    color: #f44336;
    font-size: 14px;
    line-height: 22px;
  }
  /*---------IMC---------- */
  .calculoIMC {
      display: flex;
      background-color: #e2e1e1;
      margin-bottom: 80px;
  }
  .IMC-col1 {
      /* border:3px solid blue; */
      width: 85%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: auto;
      /* justify-content: center; */
  }
  .IMC-col2 {
      background-color: #2e2e2e;
      color: #fff;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
  }
  .box-inputs input{
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 2.5px 0 10px;
    background-color: #1f1f1f;
    color: #fff;
  }
  .box-inputs button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #f44336;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    background: #f44336;
    color: #fff;
    cursor: pointer;
  }
  .row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  /* --------------------- */
  @media (max-width: 700px) {
    .nav-links ul li a {
      font-size: 10px;
      width: 10px;
    }
    nav img {
      width: 50px;
    }
    .nav-links ul li a {
      font-size: 10px;
      width: 10px;
    }
    .text-box h1 {
      font-size: 20px;
    }
    .boxtext{
      padding: 0;
    }
    .IMC-tabela {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .box, .box1 {
      width: auto;
    }
    .calculoIMC {
      flex-direction: column-reverse;
    }
  }

  
  
  