* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  .container-exerc {
      border: 3px solid red;
      display: flex;
      flex-direction: column;
  }
  .barra-lateral {
    /* border: 3px solid blue;  */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border-right: 3px solid #32b9cd; */
    background-color: #212124;
  }
  .box-exerc {
      border: 3px solid yellow;
  }
  .logo img {
      width: 80px;
  }
  .barra-lateral button{
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    background-color: #e2e1e1;
    border: none;
    border-radius: 5px;
    padding: 8px;
  }