* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  body {
  background-color: #d4d2d2;
  }
  .barra-lateral {
    height: 100vh;
    width: 15%;
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
  }
  .logo {
    text-align: center;
    padding: 15px;
    background-color: #1f1f1f;
    width: -webkit-fill-available;
  }
  .logo img {
      width: 80px;
  }
  .container-lateral {
    height: 75%;
  }
  .container-lateral a{
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    opacity: 85%;
    border: none;
    margin-top: 40px;
    cursor: pointer;
  }
  .container-lateral a p {
    padding-left: 5%;
    transition: 1s;
  }
  .container-lateral a p:hover{
    color: #f44336;
  }
  .sair {
    display: flex;
    color: #fff;
    opacity: 85%;
    cursor: pointer;
  }
  .sair p {
    padding-left: 5%;
    transition: 1s;
  }
  .sair p:hover {
    color: #f44336;
  }
  .box-exerc {
    position: absolute;
    width: calc(100% - 15%);
    left: 15%;
    background-image: url(../assets/imgs/stacked-waves-haikei.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .navbar-dash {
    background-color: #fff;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 20%)
  }
  .navbar-text {
    width: 85%;
  }
  .cards {
    margin: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-cards  {
      width: 100%;
      display: flex;
      padding: 35px 0 35px 0;
    }
    .video{
        height: 600px;
        text-align: center;
        background-color: #fff;
        box-sizing: border-box;
        flex-basis: 76.5%;
        box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 20%);
        background-image: url(../assets/imgs/Ab-1.jpg);
        background-position: center;
        background-size: cover;
    }
    .detalhes-treino {
        background-color: #2e2e2e;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        flex-basis: 25%;
        box-shadow: 3px 3px 6px 0px rgb(0 0 0 / 20%);
  }
  .detalhes-treino ul {
      list-style: none;
  }
  .detalhes-treino ul li {
      color: #b1b1b1;
      font-size: 14px;
  }
  .detalhes-treino ul li span {
      color: #fff;
      font-size: 14px;
  }
  .text {
     padding: 20px; 
 }
 .text h4 {
     margin-bottom: 20px;
 }
 .text hr {
     background-color: #b1b1b1;
     height: 1px;
     border: none;
     margin: 20px 0 20px 0;
 }
 .text p {
     color: #b1b1b1;
     font-size: 14px;
 }
  .container-btn {
      border-top: 1px solid #b1b1b1;
      text-align: center;
  }
  .container-btn button {
      background-color: #2e2e2e;
      border: 1px solid #b1b1b1;
      color: #b1b1b1;
      font-size: 16px;
      border-top: none;
      border-bottom: none;
      padding: 30px 10px 30px 10px;
      transition: 1s;
  }
  .container-btn button:hover {
      color: #f44336;
  }
  @media (max-width: 700px) {
    .container-cards {
      flex-direction: column;
    }
    .logo img{
      width: 40px;
      }
    .container-lateral img {
      width: 10px;
    }
    .container-lateral a p {
      font-size: 7px;    
    }
    .sair img {
      width: 10px;
    }
    .sair p {
      font-size: 7px;
    }
    .video {
    flex-basis: auto;
    }
    .detalhes-treino {
      flex-basis: auto;
    }
  }